.container-swiper {
  width: 100vw;
  height: 100vh;
}
.container-swiper .homeVue {
  width: 100%;
  height: 100%;
}
.container-swiper .homeVue .home {
  width: 100%;
  height: 100%;
}
.container-swiper .homeVue .home .content {
  width: 100%;
  height: 100%;
  background: url("../assets/homg-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
}
.container-swiper .homeVue .home .content .inner {
  max-width: 1200px;
  width: 1200px;
  height: 30%;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
}
.container-swiper .homeVue .home .content .inner .name {
  font-size: 70px;
  font-family: PingFang SC-Heavy, PingFang SC;
  font-weight: 700;
  color: #FFFFFF;
  animation: fadeInRight 1s ease 0s normal;
}
.container-swiper .homeVue .home .content .inner .desc {
  font-size: 50px;
  font-family: PingFang SC-Medium, PingFang SC;
  color: #FFFFFF;
  animation: fadeInRight 1s ease 0.2s both;
  padding-top: 40px;
}
.container-swiper .homeVue .home .content .inner .btnVue {
  width: 308px;
  height: 60px;
  margin-top: 180px;
  border-radius: 10px;
  cursor: pointer;
  animation: fadeInRight 1s ease 0.4s both;
}
.container-swiper .homeVue .home .content .inner .btnVue .btn {
  width: 308px;
  height: 60px;
  background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.container-swiper .homeVue .home .content .inner .btnVue .btn span {
  color: #fff;
  font-size: 30px;
  transform: translateY(-2px);
}
.container-swiper .homeVue .home .content .inner .btnVue .btn img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
.container-swiper .homeVue .home .content .inner .btnVue:hover .btn {
  animation: fadeinBg 2s ease 0s infinite both;
}
.container-swiper .homeVue .home .content .inner .btnVue:hover img {
  animation: fadeinHover 0.5s linear 0s infinite both;
}
.container-swiper .productVue {
  width: 100%;
  height: 100%;
  position: relative;
}
.container-swiper .productVue .content {
  width: 100%;
  height: 100%;
  position: relative;
}
.container-swiper .productVue .content .inner {
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
.container-swiper .productVue .content .inner .title {
  font-size: 70px;
  font-family: PingFang SC-Heavy, PingFang SC;
  font-weight: 500;
  color: #343434;
  text-align: center;
  padding-top: 30px;
  animation: fadeInDown 1s ease 0s both;
}
.container-swiper .productVue .content .inner .tabVue {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #E9E9E9;
  margin-top: 30px;
  animation: fadeInDown 1s ease 0.2s both;
}
.container-swiper .productVue .content .inner .tabVue .tabs {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-swiper .productVue .content .inner .tabVue .tabs .tab {
  color: #343434;
  font-size: 24px;
  cursor: pointer;
}
.container-swiper .productVue .content .inner .tabVue .tabs .active {
  color: #02A7A0;
  font-weight: 700;
}
.container-swiper .productVue .content .inner .sonVue {
  width: 1200px;
  height: calc(100vh - 300px);
  margin: 0 auto;
  animation: fadeInRight 1s ease 0.4s both;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft {
  flex: 1;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .name {
  color: #303030;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 1;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .caseVue {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .caseVue .case {
  width: 78%;
  height: 44px;
  line-height: 40px;
  border-radius: 10px;
  border: 1px solid #02A7A0;
  text-align: center;
  color: #6A6A6A;
  font-size: 20px;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .caseVue .case span {
  color: #343434;
  font-weight: 600;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .btnVue {
  width: 308px;
  height: 60px;
  margin-top: 70px;
  border-radius: 10px;
  cursor: pointer;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .btnVue .btn {
  width: 308px;
  height: 60px;
  background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .btnVue .btn span {
  color: #fff;
  font-size: 30px;
  transform: translateY(-2px);
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .btnVue .btn img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .btnVue:hover .btn {
  animation: fadeinBg 2s ease 0s infinite both;
}
.container-swiper .productVue .content .inner .sonVue .sonLeft .btnVue:hover img {
  animation: fadeinHover 0.5s linear 0s infinite both;
}
.container-swiper .productVue .content .inner .sonVue .sonRignt {
  width: 700px;
  padding-left: 50px;
}
.container-swiper .productVue .content .inner .sonVue .sonRignt .elCarousel .el-carousel__item img {
  width: 100%;
  height: 100%;
}
.container-swiper .productVue .content .inner .sonVue1 {
  width: 1200px;
  height: calc(100vh - 300px);
  margin: 0 auto;
  animation: fadeInRight 1s ease 0.4s both;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-swiper .productVue .content .inner .sonVue1 .sonLeft {
  width: 400px;
  height: 500px;
  position: relative;
}
.container-swiper .productVue .content .inner .sonVue1 .sonLeft img {
  width: 100%;
  height: 100%;
}
.container-swiper .productVue .content .inner .sonVue1 .sonLeft .liSon {
  width: 207px;
  height: 237px;
  position: absolute;
  right: -20px;
  bottom: -20px;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight {
  flex: 1;
  padding-left: 280px;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .name {
  color: #303030;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 1;
  text-align: right;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .label {
  color: #02A7A0;
  font-size: 30px;
  text-align: right;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .info {
  background: url("../assets/li.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 40px;
  text-align: right;
  line-height: 40px;
  color: #333;
  font-size: 20px;
  padding-right: 10px;
  margin-top: 6px;
  margin-bottom: 30px;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .btnVue {
  width: 308px;
  height: 60px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .btnVue .btn {
  width: 308px;
  height: 60px;
  background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .btnVue .btn span {
  color: #fff;
  font-size: 30px;
  transform: translateY(-2px);
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .btnVue .btn img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .btnVue:hover .btn {
  animation: fadeinBg 2s ease 0s infinite both;
}
.container-swiper .productVue .content .inner .sonVue1 .sonRight .btnVue:hover img {
  animation: fadeinHover 0.5s linear 0s infinite both;
}
.container-swiper .productVue .content .inner .sonVue2 {
  width: 1200px;
  height: calc(100vh - 300px);
  margin: 0 auto;
  animation: fadeInRight 1s ease 0.4s both;
}
.container-swiper .productVue .content .inner .sonVue2 .name {
  color: #303030;
  font-size: 40px;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 1;
  text-align: center;
}
.container-swiper .productVue .content .inner .sonVue2 .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-swiper .productVue .content .inner .sonVue2 .box .boxLi {
  width: 32%;
}
.container-swiper .productVue .content .inner .sonVue2 .box .boxLi img {
  width: 100%;
  height: auto;
}
.container-swiper .productVue .content .inner .sonVue2 .box .boxLi .label {
  font-size: 28px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.container-swiper .productVue .content .inner .sonVue2 .box .boxLi .value {
  font-size: 28px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  text-align: center;
  color: #6A6A6A;
  line-height: 40px;
  padding-top: 10px;
}
.container-swiper .productVue .content .inner .sonVue3 {
  width: 1200px;
  height: calc(100vh - 300px);
  margin: 0 auto;
  animation: fadeInRight 1s ease 0.4s both;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-swiper .productVue .content .inner .sonVue3 .sonLeft {
  width: 600px;
}
.container-swiper .productVue .content .inner .sonVue3 .sonLeft .elCarousel .el-carousel__item img {
  width: 100%;
  height: 100%;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight {
  flex: 1;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .name {
  color: #303030;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 1;
  text-align: right;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .cell {
  font-size: 24px;
  padding-top: 10px;
  color: #343434;
  text-align: right;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .btnVue {
  width: 308px;
  height: 60px;
  margin-top: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .btnVue .btn {
  width: 308px;
  height: 60px;
  background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .btnVue .btn span {
  color: #fff;
  font-size: 30px;
  transform: translateY(-2px);
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .btnVue .btn img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .btnVue:hover .btn {
  animation: fadeinBg 2s ease 0s infinite both;
}
.container-swiper .productVue .content .inner .sonVue3 .sonRight .btnVue:hover img {
  animation: fadeinHover 0.5s linear 0s infinite both;
}
.container-swiper .costomVue {
  width: 100%;
  height: 100%;
}
.container-swiper .costomVue .costom {
  width: 100%;
  height: 100%;
}
.container-swiper .costomVue .costom .content {
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../assets/costom-bg.png") no-repeat center center;
  background-size: cover;
}
.container-swiper .costomVue .costom .content .content {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}
.container-swiper .costomVue .costom .content .content .title {
  font-size: 70px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  animation: fadeInDown 1s ease 0s both;
}
.container-swiper .costomVue .costom .content .content .inner {
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 200px);
  margin: 0 auto;
}
.container-swiper .costomVue .costom .content .content .inner .innerLeft {
  width: 600px;
  animation: fadeInDown 1s ease 0.2s both;
}
.container-swiper .costomVue .costom .content .content .inner .innerLeft .vedioVue {
  width: 600px;
  height: 400px;
  background: url("../assets//costom-inner-bg.png") no-repeat;
  background-size: 100% 100%;
}
.container-swiper .costomVue .costom .content .content .inner .innerLeft .scrollVue {
  width: 600px;
  height: 110px;
  margin-top: 30px;
}
.container-swiper .costomVue .costom .content .content .inner .innerLeft .scrollVue img {
  width: 20px;
  height: 40px;
  cursor: pointer;
}
.container-swiper .costomVue .costom .content .content .inner .innerLeft .scrollVue .elCarousel {
  width: 500px;
  height: 110px;
}
.container-swiper .costomVue .costom .content .content .inner .innerLeft .scrollVue .elCarousel .imgs {
  width: 500px;
  height: 110px;
}
.container-swiper .costomVue .costom .content .content .inner .innerLeft .scrollVue .elCarousel .imgs img {
  width: 110px;
  height: 110px;
  cursor: pointer;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight {
  flex: 1;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight .name {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 1;
  text-align: right;
  animation: fadeInRight 1s ease 0.2s both;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight p {
  color: #E9E9E9;
  font-size: 24px;
  text-align: right;
  line-height: 40px;
  animation: fadeInRight 1s ease 0.4s both;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight .btnVue {
  width: 308px;
  height: 60px;
  margin-top: 100px;
  border-radius: 10px;
  cursor: pointer;
  animation: fadeInRight 1s ease 0.6s both;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight .btnVue .btn {
  width: 308px;
  height: 60px;
  background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight .btnVue .btn span {
  color: #fff;
  font-size: 30px;
  transform: translateY(-2px);
}
.container-swiper .costomVue .costom .content .content .inner .innerRight .btnVue .btn img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight .btnVue:hover .btn {
  animation: fadeinBg 2s ease 0s infinite both;
}
.container-swiper .costomVue .costom .content .content .inner .innerRight .btnVue:hover img {
  animation: fadeinHover 0.5s linear 0s infinite both;
}
.container-swiper .vipVue {
  width: 100%;
  height: 100%;
}
.container-swiper .vipVue .vip {
  width: 100%;
  height: 100%;
}
.container-swiper .vipVue .vip .content {
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../assets/vip-bg.png") no-repeat center center;
  background-size: 100% 100%;
}
.container-swiper .vipVue .vip .content .inner {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container-swiper .vipVue .vip .content .inner .title {
  font-size: 70px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #343434;
  text-align: center;
  padding-top: 30px;
  animation: fadeInDown 1s ease 0s both;
}
.container-swiper .vipVue .vip .content .inner p {
  font-size: 32px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #6A6A6A;
  text-align: center;
  padding-top: 10px;
  animation: fadeInDown 1s ease 0.2s both;
}
.container-swiper .vipVue .vip .content .inner .box {
  width: 100%;
  height: 440px;
  background: #FFFFFF;
  box-shadow: 0px 20px 45px 1px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  margin-top: 30px;
  animation: fadeInDown 1s ease 0.4s both;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.container-swiper .vipVue .vip .content .inner .box .hands {
  position: absolute;
  width: 287px;
  height: 400px;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.container-swiper .vipVue .vip .content .inner .box .priceVue {
  width: 280px;
  height: 80px;
  border-bottom: 2px solid #02A7A0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  position: relative;
}
.container-swiper .vipVue .vip .content .inner .box .priceVue span {
  color: #02A7A0;
  font-size: 24px;
  transform: translateY(10px);
  font-weight: 600;
}
.container-swiper .vipVue .vip .content .inner .box .priceVue p {
  color: #02A7A0;
  font-size: 46px;
  line-height: 1;
  font-weight: 600;
  font-family: Arial-Bold, Arial;
}
.container-swiper .vipVue .vip .content .inner .box .priceVue img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: -10px;
}
.container-swiper .vipVue .vip .content .inner .box .liVue {
  display: flex;
  flex-wrap: wrap;
}
.container-swiper .vipVue .vip .content .inner .box .liVue .li {
  width: 50%;
  display: flex;
  align-items: center;
}
.container-swiper .vipVue .vip .content .inner .box .liVue .li img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  transform: translateY(5px);
}
.container-swiper .vipVue .vip .content .inner .box .liVue .li p {
  font-size: 32px;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #343434;
}
.container-swiper .vipVue .vip .content .inner .box .liVue .li p span {
  color: #989898;
  font-weight: 500;
}
.container-swiper .vipVue .vip .content .inner .box .btnVue {
  width: 308px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}
.container-swiper .vipVue .vip .content .inner .box .btnVue .btn {
  width: 308px;
  height: 60px;
  background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.container-swiper .vipVue .vip .content .inner .box .btnVue .btn span {
  color: #fff;
  font-size: 30px;
  transform: translateY(-2px);
}
.container-swiper .vipVue .vip .content .inner .box .btnVue .btn img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
.container-swiper .vipVue .vip .content .inner .box .btnVue:hover .btn {
  animation: fadeinBg 2s ease 0s infinite both;
}
.container-swiper .vipVue .vip .content .inner .box .btnVue:hover img {
  animation: fadeinHover 0.5s linear 0s infinite both;
}
.container-swiper .vipVue .vip .content .inner h5 {
  font-size: 32px;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #343434;
  padding: 30px 0 20px;
  animation: fadeInDown 1s ease 0.6s both;
}
.container-swiper .vipVue .vip .content .inner .p {
  font-size: 24px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #6A6A6A;
  animation: fadeInDown 1s ease 0.8s both;
}
.container-swiper .partnerVue {
  width: 100%;
  height: 100%;
  background: url("../assets/partner-bg.png") no-repeat center center;
  background-size: cover;
}
.container-swiper .partnerVue .partner {
  width: 100%;
  height: 100%;
}
.container-swiper .partnerVue .partner .content {
  width: 100%;
  height: calc(100vh - 100px);
}
.container-swiper .partnerVue .partner .content .inner {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.container-swiper .partnerVue .partner .content .inner .title {
  font-size: 70px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #DFB685;
  text-align: center;
  padding-top: 30px;
  animation: fadeInDown 1s ease 0s both;
}
.container-swiper .partnerVue .partner .content .inner .main {
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 220px);
  position: relative;
}
.container-swiper .partnerVue .partner .content .inner .main h6 {
  font-size: 32px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 400;
  color: #DFB685;
  text-align: center;
  padding-top: 10px;
  animation: fadeInDown 1s ease 0.2s both;
}
.container-swiper .partnerVue .partner .content .inner .main .box {
  width: 80%;
  height: 489px;
  margin: 30px auto 0;
  top: 90px;
  background: url("../assets/partner-box.png") no-repeat center center;
  background-size: 100% 100%;
  padding: 30px 60px;
  animation: fadeInDown 1s ease 0.4s both;
  display: flex;
}
.container-swiper .partnerVue .partner .content .inner .main .box .sonVue {
  width: 50%;
  height: 100%;
  position: relative;
}
.container-swiper .partnerVue .partner .content .inner .main .box .sonVue h3 {
  font-size: 36px;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #343434;
  padding-bottom: 70px;
}
.container-swiper .partnerVue .partner .content .inner .main .box .sonVue .li {
  padding-bottom: 30px;
}
.container-swiper .partnerVue .partner .content .inner .main .box .sonVue .li img {
  width: 38px;
  height: 38px;
}
.container-swiper .partnerVue .partner .content .inner .main .box .sonVue .li p {
  font-size: 32px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #343434;
  padding-left: 10px;
}
.container-swiper .partnerVue .partner .content .inner .main .box .sonVue .tip {
  width: 200%;
  position: absolute;
  left: 0;
  bottom: 20px;
  font-size: 22px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #343434;
}
.container-swiper .partnerVue .partner .content .inner .main .btnVue {
  width: 308px;
  height: 60px;
  margin: 30px auto 0;
  border-radius: 10px;
  cursor: pointer;
  animation: fadeInDown 1s ease 0.6s both;
}
.container-swiper .partnerVue .partner .content .inner .main .btnVue .btn {
  width: 308px;
  height: 60px;
  background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #EED5B1);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.container-swiper .partnerVue .partner .content .inner .main .btnVue .btn span {
  color: #fff;
  font-size: 30px;
  transform: translateY(-2px);
}
.container-swiper .partnerVue .partner .content .inner .main .btnVue .btn img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
.container-swiper .partnerVue .partner .content .inner .main .btnVue:hover .btn {
  animation: fadeinBg 2s ease 0s infinite both;
}
.container-swiper .partnerVue .partner .content .inner .main .btnVue:hover img {
  animation: fadeinHover 0.5s linear 0s infinite both;
}
.container-swiper .aboutVue {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../assets/about-bg.png") no-repeat;
  background-size: 100% calc(100vh - 160px);
}
.container-swiper .aboutVue .content {
  width: 960px;
  height: calc(100vh - 260px);
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%);
}
.container-swiper .aboutVue .content .inner {
  width: 100%;
  height: 500px;
  background: url("../assets/about-inner.png") no-repeat;
  background-size: 100% 100%;
}
.container-swiper .aboutVue .content .inner h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
}
.container-swiper .aboutVue .content .inner p {
  font-size: 28px;
  color: #fff;
  padding: 50px;
  text-indent: 2em;
  line-height: 48px;
}
.container-swiper .aboutVue .footerVue {
  width: 100%;
  height: 160px;
  background: #0C121D;
}
.container-swiper .aboutVue .footerVue .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.joinmask {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.joinmask .joinVue {
  width: 800px;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.joinmask .joinVue .join {
  width: 100%;
  height: 100%;
  animation: fadeinScale 0.5s ease 0s both;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
.joinmask .joinVue .join .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -40px;
  cursor: pointer;
}
.joinmask .joinVue .join .close img {
  width: 100%;
  height: 100%;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-2000px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeinScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeinHover {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes fadeinBg {
  0% {
    background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
    opacity: 1;
  }
  25% {
    background: linear-gradient(131deg, #0bcbd4, #02A7A0 51%, #7d3ffc);
    opacity: 0.7;
  }
  50% {
    background: linear-gradient(131deg, #f05b77, #ff754a 51%, #ffd75d);
    opacity: 0.85;
  }
  75% {
    background: linear-gradient(131deg, #f05b77, #ff754a 51%, #ffd75d);
    opacity: 0.7;
  }
  100% {
    background: linear-gradient(131deg, #f05b77, #ff754a 51%, #ffd75d);
    opacity: 1;
  }
}
