.container-swiper {
    width: 100vw;
    height: 100vh;
    .homeVue {
        width: 100%;
        height: 100%;
        .home {
            width: 100%;
            height: 100%;
            .content {
                width: 100%;
                height: 100%;
                background: url("../assets/homg-bg.png") no-repeat center;
                background-size: cover; 
                position: relative;
                .inner {
                    max-width: 1200px;
                    width: 1200px;
                    height: 30%;
                    position: absolute;
                    left: 50%;
                    top: 38%;
                    transform: translate(-50%,-50%);
                    .name {
                        font-size: 70px;
                        font-family: PingFang SC-Heavy, PingFang SC;
                        font-weight: 700;
                        color: #FFFFFF;
                        animation: fadeInRight 1s ease 0s normal;
                    }
                    .desc {
                        font-size: 50px;
                        font-family: PingFang SC-Medium, PingFang SC;
                        color: #FFFFFF;
                        animation: fadeInRight 1s ease 0.2s both;
                        padding-top: 40px;
                    }
                    .btnVue {
                        width: 308px;
                        height: 60px;
                        margin-top: 180px;
                        border-radius: 10px;
                        cursor: pointer;
                        animation: fadeInRight 1s ease 0.4s both;
                        .btn {
                            width: 308px;
                            height: 60px;
                            // background: #02A7A0; 
                            background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
                            border-radius: 10px;
                            opacity: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 2s;
                            span {
                                color: #fff;
                                font-size: 30px;
                                transform: translateY(-2px);
                            }
                            img {
                                width: 26px;
                                height: 26px;
                                margin-left: 15px;
                            }
                        }
                    }
                    .btnVue:hover {
                        .btn {
                            animation: fadeinBg 2s ease 0s infinite both;
                            // background: #000;
                        }
                        img {
                            animation: fadeinHover 0.5s linear 0s infinite both;
                        }
                    }
                } 
            }
        }  
    }  
    .productVue {
        width: 100%;
        height: 100%;
        position: relative;
        .content {
            width: 100%;
            height: 100%;
            position: relative;
            .inner {
                width: 100%;
                height: calc(100vh - 80px);
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%);
                .title {
                    font-size: 70px;
                    font-family: PingFang SC-Heavy, PingFang SC;
                    font-weight: 500;
                    color: #343434;
                    text-align: center;
                    padding-top: 30px;
                    animation: fadeInDown 1s ease 0s both;
                }
                .tabVue {
                    width: 100%;
                    height: 60px;
                    border-bottom: 1px solid #E9E9E9;
                    margin-top: 30px;
                    animation: fadeInDown 1s ease 0.2s both;
                    .tabs {
                        width: 100%;
                        max-width: 1200px;
                        margin: 0 auto;
                        height: 60px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .tab {
                            color: #343434;
                            font-size: 24px;
                            cursor: pointer;
                        }
                        .active {
                            color: #02A7A0;
                            font-weight: 700;
                        }
                    }
                }
                .sonVue {
                    width: 1200px;
                    height: calc(100vh - 300px);
                    margin: 0 auto;
                    animation: fadeInRight 1s ease 0.4s both;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .sonLeft {
                        flex: 1;
                        .name {
                            color: #303030;
                            font-size: 40px;
                            font-weight: 500;
                            padding-bottom: 20px;
                            line-height: 1;
                        }
                        .caseVue {
                            width: 100%;
                            height: 44px;
                            margin-bottom: 20px;
                            .case {
                                width: 78%;
                                height: 44px;
                                line-height: 40px;
                                border-radius: 10px;
                                border: 1px solid #02A7A0;
                                text-align: center;
                                color: #6A6A6A;
                                font-size: 20px;
                                span {
                                    color: #343434;
                                    font-weight: 600;
                                }
                            }
                        }
                        .btnVue {
                            width: 308px;
                            height: 60px;
                            margin-top: 70px;
                            border-radius: 10px;
                            cursor: pointer;
                            // animation: fadeInRight 1s ease 0.4s both;
                            .btn {
                                width: 308px;
                                height: 60px;
                                // background: #02A7A0; 
                                background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
                                border-radius: 10px;
                                opacity: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 2s;
                                span {
                                    color: #fff;
                                    font-size: 30px;
                                    transform: translateY(-2px);
                                }
                                img {
                                    width: 26px;
                                    height: 26px;
                                    margin-left: 15px;
                                }
                            }
                        }
                        .btnVue:hover {
                            .btn {
                                animation: fadeinBg 2s ease 0s infinite both;
                                // background: #000;
                            }
                            img {
                                animation: fadeinHover 0.5s linear 0s infinite both;
                            }
                        }
                    }
                    .sonRignt {
                        width: 700px;
                        padding-left: 50px;
                        .elCarousel {
                            .el-carousel__item  {
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }   
                }
                .sonVue1 {
                    width: 1200px;
                    height: calc(100vh - 300px);
                    margin: 0 auto;
                    animation: fadeInRight 1s ease 0.4s both;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .sonLeft {
                        width: 400px;
                        height: 500px;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        .liSon {
                            width: 207px;
                            height: 237px;
                            position: absolute;
                            right: -20px;
                            bottom: -20px;
                        }
                    }
                    .sonRight {
                        flex: 1;
                        padding-left: 280px;
                        .name {
                            color: #303030;
                            font-size: 40px;
                            font-weight: 500;
                            padding-bottom: 20px;
                            line-height: 1;
                            text-align: right;
                        }
                        .label {
                            color: #02A7A0;
                            font-size: 30px;
                            text-align: right;
                        }
                        .info {
                            background: url("../assets/li.png") no-repeat;
                            background-size: cover;
                            width: 100%;
                            height: 40px;
                            text-align: right;
                            line-height: 40px;
                            color: #333;
                            font-size: 20px;
                            padding-right: 10px;
                            margin-top: 6px;
                            margin-bottom: 30px;
                        }
                        .btnVue {
                            width: 308px;
                            height: 60px;
                            margin-top: 30px;
                            border-radius: 10px;
                            cursor: pointer;
                            // animation: fadeInRight 1s ease 0.6s both;
                            .btn {
                                width: 308px;
                                height: 60px;
                                // background: #02A7A0; 
                                background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
                                border-radius: 10px;
                                opacity: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 2s;
                                span {
                                    color: #fff;
                                    font-size: 30px;
                                    transform: translateY(-2px);
                                }
                                img {
                                    width: 26px;
                                    height: 26px;
                                    margin-left: 15px;
                                }
                            }
                        }
                        .btnVue:hover {
                            .btn {
                                animation: fadeinBg 2s ease 0s infinite both;
                            }
                            img {
                                animation: fadeinHover 0.5s linear 0s infinite both;
                            }
                        }
                    }
                }
                .sonVue2 {
                    width: 1200px;
                    height: calc(100vh - 300px);
                    margin: 0 auto;
                    animation: fadeInRight 1s ease 0.4s both;
                    .name {
                        color: #303030;
                        font-size: 40px;
                        font-weight: 500;
                        padding-top: 50px;
                        padding-bottom: 30px;
                        line-height: 1;
                        text-align: center;
                    }
                    .box {
                        width: 100%;
                        display: flex;
                        // align-items: center;
                        justify-content: space-between;
                        .boxLi {
                            width: 32%;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            .label {
                                font-size: 28px;
                                font-family: PingFang SC-Regular, PingFang SC;
                                font-weight: 600;
                                text-align: center;
                                margin-top: 20px;
                            }
                            .value {
                                font-size: 28px;
                                font-family: PingFang SC-Regular, PingFang SC;
                                font-weight: 400;
                                text-align: center;
                                color: #6A6A6A;
                                line-height: 40px;
                                padding-top: 10px;
                            }
                        }
                    }
                }
                .sonVue3 {
                    width: 1200px;
                    height: calc(100vh - 300px);
                    margin: 0 auto;
                    animation: fadeInRight 1s ease 0.4s both;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .sonLeft {
                        width: 600px;
                        .elCarousel {
                            .el-carousel__item  {
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                       
                    }
                    .sonRight {
                        flex: 1;
                        .name {
                            color: #303030;
                            font-size: 40px;
                            font-weight: 500;
                            padding-bottom: 20px;
                            line-height: 1;
                            text-align: right;
                        }
                        .cell {
                            font-size: 24px;
                            padding-top: 10px;
                            color: #343434; 
                            text-align: right;
                        }
                        .btnVue {
                            width: 308px;
                            height: 60px;
                            margin-top: 100px;
                            border-radius: 10px;
                            cursor: pointer;
                            // animation: fadeInRight 1s ease 0.6s both;
                            .btn {
                                width: 308px;
                                height: 60px;
                                // background: #02A7A0; 
                                background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
                                border-radius: 10px;
                                opacity: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 2s;
                                span {
                                    color: #fff;
                                    font-size: 30px;
                                    transform: translateY(-2px);
                                }
                                img {
                                    width: 26px;
                                    height: 26px;
                                    margin-left: 15px;
                                }
                            }
                        }
                        .btnVue:hover {
                            .btn {
                                animation: fadeinBg 2s ease 0s infinite both;
                            }
                            img {
                                animation: fadeinHover 0.5s linear 0s infinite both;
                            }
                        }
                    }
                }
            } 
        }
    }
    .costomVue {
        width: 100%;
        height: 100%;
        .costom {
            width: 100%;
            height: 100%;
            .content {
                width: 100%;
                height: calc(100vh - 100px);
                background: url("../assets/costom-bg.png") no-repeat center center;
                background-size: cover;  
                .content {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    background: rgba(0,0,0,0.7);
                    .title {
                        font-size: 70px;
                        color: #fff;
                        text-align: center;
                        padding-top: 30px;
                        animation: fadeInDown 1s ease 0s both;
                    }
                    .inner {
                        width: 100%;
                        max-width: 1200px;
                        height: calc(100vh - 200px);
                        margin: 0 auto;
                        .innerLeft {
                            width: 600px;
                            animation: fadeInDown 1s ease 0.2s both;
                            .vedioVue {
                                width: 600px;
                                height: 400px;
                                background: url("../assets//costom-inner-bg.png") no-repeat;
                                background-size: 100% 100%;
                            }
                            .scrollVue {
                                width: 600px;
                                height: 110px;
                                margin-top: 30px;
                                img {
                                    width: 20px;
                                    height: 40px;
                                    cursor: pointer;
                                }
                                .elCarousel {
                                    width: 500px;
                                    height: 110px;
                                    .imgs {
                                        width: 500px;
                                        height: 110px;
                                        img {
                                            width: 110px;
                                            height: 110px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                        .innerRight {
                            flex: 1;
                            .name {
                                color: #fff;
                                font-size: 40px;
                                font-weight: 500;
                                padding-bottom: 20px;
                                line-height: 1;
                                text-align: right;
                                animation: fadeInRight 1s ease 0.2s both;
                            }
                            p {
                                color: #E9E9E9;
                                font-size: 24px;
                                text-align: right;
                                line-height: 40px;
                                animation: fadeInRight 1s ease 0.4s both;
                            }
                            .btnVue {
                                width: 308px;
                                height: 60px;
                                margin-top: 100px;
                                border-radius: 10px;
                                cursor: pointer;
                                animation: fadeInRight 1s ease 0.6s both;
                                .btn {
                                    width: 308px;
                                    height: 60px;
                                    // background: #02A7A0; 
                                    background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
                                    border-radius: 10px;
                                    opacity: 1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: all 2s;
                                    span {
                                        color: #fff;
                                        font-size: 30px;
                                        transform: translateY(-2px);
                                    }
                                    img {
                                        width: 26px;
                                        height: 26px;
                                        margin-left: 15px;
                                    }
                                }
                            }
                            .btnVue:hover {
                                .btn {
                                    animation: fadeinBg 2s ease 0s infinite both;
                                }
                                img {
                                    animation: fadeinHover 0.5s linear 0s infinite both;
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
    .vipVue {
        width: 100%;
        height: 100%;
        .vip {
            width: 100%;
            height: 100%;
            .content {
                width: 100%;
                height: calc(100vh - 100px);
                background: url("../assets/vip-bg.png") no-repeat center center;
                background-size: 100% 100%;  
                .inner {
                    width: 100%;
                    height: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                    .title {
                        font-size: 70px;
                        font-family: PingFang SC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #343434;
                        text-align: center;
                        padding-top: 30px;
                        animation: fadeInDown 1s ease 0s both;
                    }
                    p {
                        font-size: 32px;
                        font-family: PingFang SC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #6A6A6A;
                        text-align: center;
                        padding-top: 10px;
                        animation: fadeInDown 1s ease 0.2s both;
                    }
                    .box {
                        width: 100%;
                        height: 440px;
                        background: #FFFFFF;
                        box-shadow: 0px 20px 45px 1px rgba(0,0,0,0.16);
                        border-radius: 25px;
                        margin-top: 30px;
                        animation: fadeInDown 1s ease 0.4s both;
                        padding: 50px 70px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        .hands {
                            position: absolute;
                            width: 287px;
                            height: 400px;
                            right: 50px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .priceVue {
                            width: 280px;
                            height: 80px;
                            border-bottom: 2px solid #02A7A0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: flex-end;
                            position: relative;
                            span {
                                color: #02A7A0;
                                font-size: 24px;
                                transform: translateY(10px);
                                font-weight: 600;
                            }
                            p {
                                color: #02A7A0;
                                font-size: 46px;
                                line-height: 1;
                                font-weight: 600;
                                font-family: Arial-Bold, Arial;
                            }
                            img {
                                width: 50px;
                                height: 50px;
                                position: absolute;
                                top: 2px;
                                right: -10px;
                            }
                        }
                        .liVue {
                            display: flex;
                            flex-wrap: wrap;
                            .li {
                                width: 50%;
                                display: flex;
                                align-items: center;
                                // margin-top: 20px;
                                img {
                                    width: 18px;
                                    height: 18px;
                                    margin-right: 10px;
                                    transform: translateY(5px);
                                }
                                p {
                                    font-size: 32px;
                                    font-family: PingFang SC-Bold, PingFang SC;
                                    font-weight: bold;
                                    color: #343434;
                                    span {
                                        color: #989898;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        .btnVue {
                            width: 308px;
                            height: 60px;
                            // margin-top: 100px;
                            border-radius: 10px;
                            cursor: pointer;
                            // animation: fadeInRight 1s ease 0.4s both;
                            .btn {
                                width: 308px;
                                height: 60px;
                                // background: #02A7A0; 
                                background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
                                border-radius: 10px;
                                opacity: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 2s;
                                span {
                                    color: #fff;
                                    font-size: 30px;
                                    transform: translateY(-2px);
                                }
                                img {
                                    width: 26px;
                                    height: 26px;
                                    margin-left: 15px;
                                }
                            }
                        }
                        .btnVue:hover {
                            .btn {
                                animation: fadeinBg 2s ease 0s infinite both;
                            }
                            img {
                                animation: fadeinHover 0.5s linear 0s infinite both;
                            }
                        }
                    }
                    h5 {
                        font-size: 32px;
                        font-family: PingFang SC-Bold, PingFang SC;
                        font-weight: bold;
                        color: #343434;
                        padding: 30px 0 20px;
                        animation: fadeInDown 1s ease 0.6s both;
                    }
                    .p {
                        font-size: 24px;
                        font-family: PingFang SC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #6A6A6A;
                        animation: fadeInDown 1s ease 0.8s both;
                    }
                }
            }
        }
    }
    .partnerVue {
        width: 100%;
        height: 100%;
        background: url("../assets/partner-bg.png") no-repeat center center;
        background-size: cover;
        .partner {
            width: 100%;
            height: 100%;
            .content {
                width: 100%;
                height: calc(100vh - 100px);
                .inner {
                    width: 100%;
                    max-width: 1200px;
                    height: 100%;
                    margin: 0 auto;
                    .title {
                        font-size: 70px;
                        font-family: PingFang SC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #DFB685;
                        text-align: center;
                        padding-top: 30px;
                        animation: fadeInDown 1s ease 0s both;
                    }
                    .main {
                        width: 100%;
                        max-width: 1200px;
                        height: calc(100vh - 220px);
                        position: relative;
                        h6 {
                            font-size: 32px;
                            font-family: PingFang SC-Medium, PingFang SC;
                            font-weight: 400;
                            color: #DFB685;
                            text-align: center;
                            padding-top: 10px;
                            animation: fadeInDown 1s ease 0.2s both;
                        }
                        .box {
                            width: 80%;
                            height: 489px;
                            margin: 30px auto 0;
                            top: 90px;
                            background: url("../assets/partner-box.png") no-repeat center center;
                            background-size: 100% 100%;
                            padding: 30px 60px;
                            animation: fadeInDown 1s ease 0.4s both;
                            display: flex;
                            .sonVue {
                                width: 50%;
                                height: 100%;
                                position: relative;
                                h3 {
                                    font-size: 36px;
                                    font-family: PingFang SC-Bold, PingFang SC;
                                    font-weight: bold;
                                    color: #343434;
                                    padding-bottom: 70px;
                                }
                                .li {
                                    padding-bottom: 30px;
                                    img {
                                        width: 38px;
                                        height: 38px;
                                    }
                                    p {
                                        font-size: 32px;
                                        font-family: PingFang SC-Medium, PingFang SC;
                                        font-weight: 500;
                                        color: #343434;
                                        padding-left: 10px;
                                    }
                                }  
                                .tip {
                                    width: 200%;
                                    position: absolute;
                                    left: 0;
                                    bottom: 20px;
                                    font-size: 22px;
                                    font-family: PingFang SC-Regular, PingFang SC;
                                    font-weight: 400;
                                    color: #343434;
                                }
                            }
                        }
                        .btnVue {
                            width: 308px;
                            height: 60px;
                            margin: 30px auto 0;
                            border-radius: 10px;
                            cursor: pointer;
                            animation: fadeInDown 1s ease 0.6s both;
                            .btn {
                                width: 308px;
                                height: 60px;
                                background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#EED5B1);
                                border-radius: 10px;
                                opacity: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 2s;
                                span {
                                    color: #fff;
                                    font-size: 30px;
                                    transform: translateY(-2px);
                                }
                                img {
                                    width: 26px;
                                    height: 26px;
                                    margin-left: 15px;
                                }
                            }
                        }
                        .btnVue:hover {
                            .btn {
                                animation: fadeinBg 2s ease 0s infinite both;
                            }
                            img {
                                animation: fadeinHover 0.5s linear 0s infinite both;
                            }
                        }
                    }
                }  
            }
        } 
    }
    .aboutVue {
        width: 100%;
        height: 100%;
        position: relative;
        background: url("../assets/about-bg.png") no-repeat;
        background-size: 100% calc(100vh - 160px);
        .content {
            width: 960px;
            height: calc(100vh - 260px);
            position: absolute;
            left: 50%;
            bottom: 80px;
            transform: translate(-50%);
            // padding-top: 40px;
            .inner {
                width: 100%;
                height: 500px;
                background: url("../assets/about-inner.png") no-repeat;
                background-size: 100% 100%;
                h2 {
                    color: #fff;
                    font-size: 70px;
                    font-weight: 500;
                    text-align: center;
                    padding-top: 30px;
                }
                p {
                    font-size: 28px;
                    color: #fff;
                    padding: 50px;
                    text-indent: 2em;
                    line-height: 48px;
                }
            }
        }
        .footerVue {
            width: 100%;
            height: 160px;
            background: #0C121D;
            .content {
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                
            }
        }
    }
    
}


// 申请加入
.joinmask {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    .joinVue {
        width: 800px;
        height: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .join {
            width: 100%;
            height: 100%;
            animation: fadeinScale 0.5s ease 0s both;
            background: #fff;
            border-radius: 10px;
            position: relative;
            .close {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 0;
                right: -40px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}



@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(-2000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(2000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeinScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeinHover {
    0% {
        transform: translate(10px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes fadeinBg {
    0% {
        background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
        opacity: 1;
    }
    25% {
        background: linear-gradient(131deg,#0bcbd4,#02A7A0 51%,#7d3ffc);
        opacity: 0.7;
    }
    50% {
        background: linear-gradient(131deg,#f05b77,#ff754a 51%,#ffd75d);
        opacity: 0.85;
    }
    75% {
        background: linear-gradient(131deg,#f05b77,#ff754a 51%,#ffd75d);
        opacity: 0.7;
    }
    100% {
        background: linear-gradient(131deg,#f05b77,#ff754a 51%,#ffd75d);
        opacity: 1;
    }
}


